@import url('https://fonts.googleapis.com/css2?family=Risque&display=swap');

.dark body {
    background: url("https://getwallpapers.com/wallpaper/full/0/e/0/448944.jpg");
    background-size: cover;
}

body {
    background: url("https://imgur.com/33KLIXK.jpg");
    background-size: cover;
}

.roomlist,
.dark .roomlist {
    width: 100%;
    max-width: 100% !important
}

.roomlist h2 {
  font-family: "Risque", Helvetica, Verdana, sans-serif;
  font-size: 27px
}

.roomlist .blocklink {
    color: #000;
    font-family: Helvetica, Verdana, sans-serif;
    text-shadow: 0px -1px 0px #aa8633;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(255, 255, 255, 0.5)inset;
    background-image: linear-gradient(#c2c5aa, #a4ac86);
    border: 1px solid #b6ad90;
    width: calc(60% + 100px)
}

.dark .roomlist .blocklink {
    color: #fff;
    font-family: "Risque", Helvetica, Verdana, sans-serif;
    text-shadow: 0px -1px 0px #0c5d12;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(255, 255, 255, 0.5)inset;
    background-image: linear-gradient(#3A6152, #0E4732);
    border: 1px solid #0c5d12;
    width: calc(60% + 100px)
}

.roomlist .blocklink:hover {
    background: #a68a64 url("https://www.serebii.net/swordshield/pokemon/006-gi.png")center no-repeat;
    background-position: 400px;
    border: 1px solid #b6ad90;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 0px 1px rgba(0, 0, 0, 0.2)inset;
    color: #FFF
}

.dark .roomlist .blocklink:hover {
    background: #47192C url("https://img.pokemondb.net/sprites/x-y/normal/charizard-mega-x.png")center no-repeat;
    background-position: 400px;
    border: 1px solid #6e173b;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 0px 1px rgba(0, 0, 0, 0.2)inset;
    color: #FFF
}

.dark .roomcounters .usercount {
    background: transparent url("https://play.pokemonshowdown.com/sprites/dex/phantump.png")no-repeat scroll !important;
    width: 91px;
    height: 80px;
    left: -65px;
    bottom: 0px;
}

.dark .roomcounters .battlecount {
    background: transparent url("https://play.pokemonshowdown.com/sprites/gen5/perrserker.png")no-repeat scroll !important;
    transform: rotateY(180deg);
    width: 90px;
    height: 74px;
    right: -62px;
    bottom: 0px;
}

.mainmenu .menugroup:nth-child(1) .button,
.mainmenu .menugroup:nth-child(2) p:nth-child(1) .button,
.mainmenu .menugroup:nth-child(2) p:nth-child(2) .button,
.mainmenu .menugroup:nth-child(2) p:nth-child(3) .button,
.mainmenu .menugroup:nth-child(3) p:nth-child(1) .button,
.mainmenu .menugroup:nth-child(3) p:nth-child(2) .button,
.mainmenu .menugroup:nth-child(3) p:nth-child(3) .button {
    font-size: 12pt;
  letter-spacing: 1.5px;
    font-family: "Risque", Helvetica, Verdana, sans-serif;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5), 0px 1px 1px rgba(255, 255, 255, 0.5)inset;
    background-image: linear-gradient(#a98467, #a68a64);
    border: 1px solid #5D3754
}

.dark .mainmenu .menugroup:nth-child(1) .button,
.dark .mainmenu .menugroup:nth-child(2) p:nth-child(1) .button,
.dark .mainmenu .menugroup:nth-child(2) p:nth-child(2) .button,
.dark .mainmenu .menugroup:nth-child(2) p:nth-child(3) .button,
.dark .mainmenu .menugroup:nth-child(3) p:nth-child(1) .button,
.dark .mainmenu .menugroup:nth-child(3) p:nth-child(2) .button,
.dark .mainmenu .menugroup:nth-child(3) p:nth-child(3) .button {
    font-size: 12pt;
    letter-spacing: 1.5px;
    font-family: "Risque", Helvetica, Verdana, sans-serif;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5), 0px 1px 1px rgba(1, 128, 69, 0.5)inset;
    background-image: linear-gradient(#3A6152, #0E4732);
    border: 1px solid #0F3325
}

.mainmenu .menugroup:nth-child(1) .button:hover,
.mainmenu .menugroup:nth-child(2) p:nth-child(1) .button:hover,
.mainmenu .menugroup:nth-child(2) p:nth-child(2) .button:hover,
.mainmenu .menugroup:nth-child(2) p:nth-child(3) .button:hover,
.mainmenu .menugroup:nth-child(3) p:nth-child(1) .button:hover,
.mainmenu .menugroup:nth-child(3) p:nth-child(2) .button:hover,
.mainmenu .menugroup:nth-child(3) p:nth-child(3) .button:hover,
.mainmenu .menugroup:nth-child(1) .button:focus,
.mainmenu .menugroup:nth-child(2) p:nth-child(1) .button:focus,
.mainmenu .menugroup:nth-child(2) p:nth-child(2) .button:focus,
.mainmenu .menugroup:nth-child(2) p:nth-child(3) .button:focus,
.mainmenu .menugroup:nth-child(3) p:nth-child(1) .button:focus,
.mainmenu .menugroup:nth-child(3) p:nth-child(2) .button:focus,
.mainmenu .menugroup:nth-child(3) p:nth-child(3) .button:focus {
    background: #a4ac86;
    border: 1px solid #c2c5aa;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 0px 1px rgba(0, 0, 0, 0.2)inset
}

.dark .mainmenu .menugroup {
    border: 1.4px solid #088F8F;
}

.dark .mainmenu .menugroup:nth-child(1) .button:hover,
.dark .mainmenu .menugroup:nth-child(2) p:nth-child(1) .button:hover,
.dark .mainmenu .menugroup:nth-child(2) p:nth-child(2) .button:hover,
.dark .mainmenu .menugroup:nth-child(2) p:nth-child(3) .button:hover,
.dark .mainmenu .menugroup:nth-child(3) p:nth-child(1) .button:hover,
.dark .mainmenu .menugroup:nth-child(3) p:nth-child(2) .button:hover,
.dark .mainmenu .menugroup:nth-child(3) p:nth-child(3) .button:hover,
.dark .mainmenu .menugroup:nth-child(1) .button:focus,
.dark .mainmenu .menugroup:nth-child(2) p:nth-child(1) .button:focus,
.dark .mainmenu .menugroup:nth-child(2) p:nth-child(2) .button:focus,
.dark .mainmenu .menugroup:nth-child(2) p:nth-child(3) .button:focus,
.dark .mainmenu .menugroup:nth-child(3) p:nth-child(1) .button:focus,
.dark .mainmenu .menugroup:nth-child(3) p:nth-child(2) .button:focus,
.dark .mainmenu .menugroup:nth-child(3) p:nth-child(3) .button:focus {
    background: #47192C;
    border: 1px solid #023020;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 0px 1px rgba(0, 0, 0, 0.2)inset
}

.menugroup .button.disabled,
.menugroup .button.disabled:hover {
    background: #b5e550;
    border: 1px solid #b300ad;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 0px 1px rgba(0, 0, 0, 0.2)inset;
    color: #DDD
}

.dark .menugroup .button.disabled,
.dark .menugroup .button.disabled:hover {
    background: #3b8164;
    border: 1px solid #307e47;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 0px 1px rgba(0, 0, 0, 0.2)inset;
    color: #DDD
}

.header {
    background: url("https://imgur.com/9dozFTu.png")no-repeat;
    background-size: 27%;
}

.dark .header {
    background: url("https://imgur.com/seNeU70.png") no-repeat;
    background-size: 25%
}

.logo {
    display: none !important
}

.userbar button.icon {
    border: 1px solid #333d29;
    background: #a68a64;
    color: #414833;
    text-shadow: 0px 0px 1px #F277B9
}

.userbar button.icon:hover {
    background: #adc178
}

.userbar .username {
    text-shadow: 1px 1px 0px #11484F, 1px -1px 0px #11484F, -1px 1px 0px #11484F, -1px -1px 0px #11484F
}


.dark .userbar button.icon {
    border: 1px solid #0F3325;
    background: #0E4732;
    color: #FFF;
    text-shadow: none;
}

.dark .userbar button.icon:hover {
    background: #47192C
}

.dark .maintabbarbottom {
    background: #3A6152;
    border-color: #023020
}

.dark .tabbar a.button {
    background: #3A6152;
    border-color: #023020;
    box-shadow: none;
    text-shadow: none
}

.dark .tabbar a.button:hover {
    background: rgba(105, 163, 127, 0.8);
    border-color: #47192C
}

.dark .tabbar a.button.cur,
.dark .tabbar a.button.cur:hover {
    background: #097969;
    border-color: #023020
}

.dark .tabbar a.button.subtle-notifying,
.dark .tabbar a.button.subtle-notifying:hover {
    color: #38ff70
}

.dark .tabbar a.button.notifying,
.dark .tabbar a.button.notifying:hover,
.dark .tabbar a.button.notifying.closable,
.dark .tabbar a.button.notifying.closable:hover,
.dark .button.notifying {
    background: #943B60;
    border-color: #000;
    color: #fff
}

.maintabbarbottom {
    background-color: #936639;
    border-color: #582f0e;
    border-right: 0
}

.tabbar a.button {
    background: #936639;
    border-color: #b6ad90;
    box-shadow: none;
    text-shadow: none;
    color: #fff
}

.tabbar a.button.cur,
.tabbar a.button.cur:hover {
    background: #588157;
    border-color: #6a994e;
    color: #fff
}

.tabbar a.button.subtle-notifying,
.tabbar a.button.subtle-notifying:hover {
    color: #221C35
}

.tabbar a.button.notifying,
.tabbar a.button.notifying:hover,
.tabbar a.button.notifying.closable,
.tabbar a.button.notifying.closable:hover {
    background: #adc178;
    border-color: #8cb369;
    color: #386641
}

.dark .pm-window h3,
.dark .pm-window h3.pm-minimized {
    background: #19543E;
    border-color: #1B1C1E
}

.dark .pm-window.focused h3,
.dark .pm-window.focused h3:hover {
    background: #355E3B;
    border-color: #1B1C1E
}

.dark .pm-window h3.pm-notifying,
.dark .pm-window h3.pm-notifying:hover {
    background: #47192C;
    border-color: #1B1C1E
}

.dark .pm-log-add {
    background: #40826D
}

.dark .pm-window.focused h3,
.dark .pm-window.focused h3:hover,
.dark .pm-log,
.dark .pm-log-add,
.dark .pm-window.focused .pm-log,
.dark .pm-window.focused .pm-log-add {
    border-color: #1b1c1e
}

.pm-window h3,
.pm-window h3.pm-minimized {
    background: #936639;
    border-color: #a68a64;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5)
}

.pm-window.focused h3,
.pm-window.focused h3:hover {
    background: #a98467;
    border-color: #b6ad90;
    color: #fff
}

.pm-window h3:hover {
    color: #fff
}

.pm-log-add {
    background: #a98467
}

.pm-window.focused h3,
.pm-window.focused h3:hover,
.pm-log-add {
    border-color: #a3b18a
}

.pm-window h3.pm-notifying {
    background: #414833;
    border-color: #a3b18a;
    color: #fff
}

.pm-window h3.pm-notifying:hover {
    background: #588157;
    color: #fff
}

.pm-log {
    background: rgba(245, 235, 221, 0.85);
    border-color: #a3b18a
}

.textbox {
    border-color: #42273C
}

.pm-log-add .textbox:focus {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.6)
}

.pm-window h3 small {
    color: #fff
}

.pm-window-orderofphoenixnews .chatbox {
    display: none;
}

.pm-window-orderofphoenixnews .pm-log .pm-buttonbar {
    display: none;
}

.dark .ps-room {
    border-color: #1b1c1e
}

.ps-room {
    border-color: #a4ac86
}

.ps-room.ps-room-light {
    background: rgba(237, 221, 197, 0.85)
}

.ps-room.ps-room-opaque {
    background: #e620dc
}

.ps-room.ps-room-light.scrollable .ps-popup {
    border: none;
    background: none;
    box-shadow: none;
    display: block;
    position: relative;
    padding: 5px 15px
}

.infobox-roomintro .infobox-limited {
    max-height: none
}

.userlist,
.userlist li,
.chat-log-add {
    border-color: #adc178
}

.dark .userlist,
.dark .userlist li,
.dark .chat-log-add {
    border-color: #1b1c1e
}

.dark .chat-log-add {
    background: #2D272A
}

.chat-log-add {
    background: #c2c5aa
}

.dark .userlist li button:hover {
    background: rgba(80, 80, 80, 0.5)
}

.userlist li button:hover {
    background: rgba(255, 255, 255, 0.7)
}

.dark .userlist-maximized {
    background: #2D272A
}

.userlist-maximized {
    background: #f4e285
}

.dark .userlist-minimized .userlist-count,
.dark .userlist-minimized .userlist-count:hover,
.dark .userlist-maximized .userlist-count:hover {
    background: #2D272A;
    border-color: #1b1c1e
}

.userlist-minimized .userlist-count,
.userlist-minimized .userlist-count:hover,
.userlist-maximized .userlist-count:hover {
    background: #90a955
}

.userlist li em.group {
    color: #fff;
    text-shadow: 0 0 1px #000
}

.dark .chat-log {
    background: rgba(0, 0, 0, 0.5) url("https://play.pokemonshowdown.com/sprites/dex/charizard-megax.png") top 70px right fixed no-repeat;
    background-size: 200px 200px
}

.chat-log {
    background: rgba(255, 236, 201, 0.5) url("https://play.pokemonshowdown.com/sprites/dex/oricorio-sensu.png") top 70px right fixed no-repeat;
    background-size: 150px 130px
}

.highlighted {
    background: rgba(251, 78, 245, 0.33)
}

.closebutton,
.minimizebutton,
.pm-window h3 .minimizebutton,
.pm-window h3:hover .minimizebutton {
    outline: none;
    color: #fff
}

.pm-window h3 .closebutton:hover+.minimizebutton,
.pm-window h3 .header-username:hover+.minimizebutton {
    color: #fff !important
}

.closebutton:hover {
    color: #90a955
}

.minimizebutton:active {
    color: #90a955 !important
}

.minimizebutton:hover,
.pm-window h3 .minimizebutton:hover {
    color: #90a955
}

.unread {
    background: rgba(253, 164, 75, 0.33)
}

.dark .unread {
    background: rgba(133, 255, 227, 0.33)
}

.dark .ps-popup {
    background: #122438;
    border-color: #1b1c1e
}

.ps-popup {
    background: #c2c5aa;
    border-color: #f0ead2
}

.dark .folderlist .foldersep:before,
.dark .folderlistafter:before,
.dark .folderlistbefore:before,
.dark .folderpane h3,
.dark .folder .selectFolder,
.dark .folderhack1,
.dark .folderhack2 {
    border-color: #1b1c1e
}

.folderlist .foldersep:before,
.folderlistafter:before,
.folderlistbefore:before,
.folderpane h3,
.folder .selectFolder,
.folderhack1,
.folderhack2 {
    background: #adc178;
    border-color: #c2c5aa;
    color: #592340
}

.dark .folder.cur .selectFolder,
.dark .folder.cur .selectFolder:hover,
.dark .folder.cur .selectFolder:active {
    border-color: #1b1c1e
}

.folder.cur .selectFolder,
.folder.cur .selectFolder:hover,
.folder.cur .selectFolder:active {
    background: transparent;
    border-color: #a4ac86
}

.folder .selectFolder:hover {
    background: rgba(246, 164, 33, 0.6);
    border-right-color: #a3b18a
}

.selectFolder .fa {
    color: #fff
}

.folder.cur .fa {
    color: #000
}

.folderpane {
    border-left-color: #c8d5b9
}

.dark .static-button {
    color: #fff
}

.broadcast-blue {
    background: #bfdee0;
    border: 1px solid #7db4bb;
    color: #376267;
    text-shadow: 0 -1px 0 #d8eff0;
    text-align: center;
    font-family: sans-serif;
    padding: 8px
}

.broadcast-blue a {
    color: #018991
}

.broadcast-red {
    background: #edb9cd;
    border: 1px solid #d888a7;
    color: #673749;
    text-shadow: 0 -1px 0#F5D3E0;
    text-align: center;
    font-family: sans-serif;
    padding: 8px
}

.broadcast-red a {
    color: #AD1515
}

.broadcast-green {
    background: #C5E0BF;
    border: 1px solid #8ABB7D;
    color: #446737;
    text-shadow: 0 -1px 0#DEF2DA;
    text-align: center;
    font-family: sans-serif;
    padding: 8px
}

.broadcast-green a {
    color: #2EA314
}

.ladder table,
.ladder td,
.ladder th {
    border: 1px solid #cc3000;
    color: #000
}

.ladder th {
    background: #e84f17;
    padding: 5px
}

.ladder td {
    background: rgba(245, 245, 245, 0.7)
}

.rankladder-headers {
    background: #454E50;
    color: #FFF;
    text-shadow: 1px 1px #262B2C, -1px 1px#262B2C;
    border: 1px solid #222
}

.default-td {
    padding: 5px;
    border: 1px solid#222
}

.rankladder-tds {
    background: #FCFCFC
}

.rankladder-tds:hover {
    background: #EFEFEF
}

.dark .rankladder-tds {
    color: #1b1c1e
}

.first {
    background: #ebc52f;
    color: #643b22;
    text-shadow: 0 0 2px #f6cfb9;
    padding: 8px
}

.first:hover {
    background: #d5905b
}

.second {
    background: silver;
    color: #5B5B5B;
    text-shadow: 0 0 2px #EEE;
    padding: 8px
}

.second:hover {
    background: #CACACA
}

.third {
    background: #cd5632;
    color: #693425;
    text-shadow: 0 0 2px #e4a691;
    padding: 8px
}

.third:hover {
    background: #cd7454
}

/* CHAT COLORS START */

.dark .chat.chatmessage-aflyingphantom em {
    Color: #00f2ff
}

.chat.chatmessage-aflyingphantom em {
    Color: #ff0000
}

/* CHAT COLORS END */

/* COLORS START */
[class$="chatmessage-rizaxe"] strong, [class$="chatmessage-rizaxe mine"] strong, [class$="chatmessage-rizaxe highlighted"] strong, [id$="-userlist-user-rizaxe"] strong em, [id$="-userlist-user-rizaxe"] strong, [id$="-userlist-user-rizaxe"] span{
color: #9d00ff !important;
}
[class$="chatmessage-turborx"] strong, [class$="chatmessage-turborx mine"] strong, [class$="chatmessage-turborx highlighted"] strong, [id$="-userlist-user-turborx"] strong em, [id$="-userlist-user-turborx"] strong, [id$="-userlist-user-turborx"] span{
color: #ff0000 !important;
}
/* COLORS END */
/* ICONS START */
[id$="-userlist-user-rizaxe"] {
background: rgba(17, 72, 79, 0.6) url("https://www.esports.net/wp-content/uploads/2022/06/pokemon-united-rank-veteran.png") right no-repeat !important;
}
/* ICONS END */
